<div (click)="openBottomSheet()" class="hover:cursor-pointer hover:bg-gray-100">
  <div class="text-xs text-white bg-gray-700 py-1 px-2 min-w-[100px] rounded-tr-xl">
    <span class="text-green-400 font-medium mr-2">E{{ volume.entry_id }}</span>
    <span>{{ volume.Entry.Producer.Person.name }}</span>
  </div>
  <div class="py-2 px-3 rounded-b-md border border-gray-400">
    <div>
      <div class="mr-2 flex items-center">
        <div class="mr-2">
          <app-label [text]="volume.product_name"></app-label>
        </div>
        <span class="text-xs text-gray-800 rounded-full mr-2">• {{ volume.type }} •</span>
        <span class="text-xs text-gray-800 rounded-full">{{ volume.size }}</span>
      </div>
    </div>
    <div class="p-1 text-sm">
      <span class="font-medium mr-1">{{ regex.formatToTwoDigits(volume.amount) }} {{ regex.formatToTwoDigits(volume.amount) > 1 ? 'unidades' : 'unidade' }}</span>
      <span class="font-medium mr-2">• {{ volume.volume }} kg</span>
      <span class="text-xs text-gray-400">({{ volume.Material ? volume.Material.name : 'Avulso' }})</span>
    </div>
    <div class="font-normal text-xs text-end mt-1 flex items-center justify-end">
      @if (dateTime.checkNew(volume.created_at)) {
        <div class="w-2 h-2 bg-green-500 rounded-full mr-2"></div>
      }
      <span [class]="dateTime.checkNew(volume.created_at) ? 'text-green-500':'text-gray-400'"> {{ dateTime.convertToBRTime(volume.created_at) }} </span>
    </div>
  </div>
</div>
