<section class="lg:p-4 p-2">
  @if(isLoading()) {
  <app-loading></app-loading>
  } @else {
  <ng-container *ngTemplateOutlet="mainTemplate"></ng-container>
  }
</section>

<ng-template #mainTemplate>
  <div class="sm:mb-4 mb-0 flex items-center sm:justify-start justify-between">
    <div class="mr-4 lg:mb-0 mb-4 flex items-center pt-2">
      <app-title [text]="title" [icon]="icon"></app-title>
    </div>

    <div class="sm:flex hidden">
      <button mat-raised-button routerLink="/in/track/enter" class="!text-green-500 flex items-center mr-2"
        matTooltip="Entrada de produtos">
        <mat-icon>exit_to_app</mat-icon>
        Entrada</button>

      <button mat-raised-button routerLink="/in/track/exit" class="!text-red-500 flex items-center"
        matTooltip="Saída de produtos">
        <mat-icon>output</mat-icon>
        Saída</button>
    </div>

    <div class="sm:hidden flex pb-2">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-elevation-z2 !bg-orange-500 !text-white">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/in/track/enter" class="!text-green-500 flex items-center mr-2"
        matTooltip="Entrada de produtos">
        <mat-icon class="!text-green">exit_to_app</mat-icon>
        Entrada</button>

      <button mat-menu-item routerLink="/in/track/exit" class="!text-red-500 flex items-center"
        matTooltip="Saída de produtos">
        <mat-icon class="!text-green">output</mat-icon>
        Saída</button>
      </mat-menu>
    </div>
  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Localizações">
      <ng-container *ngTemplateOutlet="locationsTemp"></ng-container>
    </mat-tab>
    <mat-tab label="Produtores">
      <ng-container *ngTemplateOutlet="locationsTemp"></ng-container>
    </mat-tab>
  </mat-tab-group>

</ng-template>


<ng-template #locationsTemp>
  <div class="sm:px-4 p-1">

    <div class="mb-6 mt-4">
      <div class="lg:w-[150px] w-full mr-2">
        <label class="block mb-1 text-sm font-medium text-gray-900">Setor</label>
        <select [(ngModel)]="sector_id" [ngModelOptions]="{standalone: true}" (ngModelChange)="getTrack()"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
          <option value="">Todos</option>
          @for (sector of sectorList; track $index) {
          <option [ngValue]="sector.id">{{ sector.name }}</option>
          }
        </select>
      </div>
    </div>

    @if (locationList.length > 0) {
    <div class="mb-2 grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-2">
      @for (location of locationList; track $index) {
      <div class="col-span-1 mb-2">
        <mat-accordion>
          <mat-expansion-panel class="border-l-2 border-primary">
            <mat-expansion-panel-header>
              <mat-panel-title class="flex justify-between">
                <span class="mr-2">{{ location.name }}</span>
                <span class="text-sm text-gray-400 text-normal">Volumes: {{ location?.Volume?.length }}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              @for (volume of location?.Volume; track $index) {
              <div class="mb-2">
                <app-volume-card-1 [volume]="volume"></app-volume-card-1>
              </div>
              }

              <div class="flex justify-center mt-2">
                <button mat-flat-button (click)="detailLocation(location.id)">Detalhar</button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      }
    </div>
    } @else {
    <div class="h-[150px] flex justify-center items-center">
      <span class="text-sm text-gray-500">Sem localizações</span>
    </div>
    }
  </div>
</ng-template>
