<section class="lg:p-4 p-2">
  @if(isLoading()) {
  <app-loading></app-loading>
  } @else {
  <ng-container *ngTemplateOutlet="mainTemplate"></ng-container>
  }
</section>

<ng-template #mainTemplate>
  <div class="mb-4 lg:flex items-center">
    <div class="mr-4 lg:mb-0 mb-4 flex items-center">
      <app-title [text]="title" [icon]="icon"></app-title>
    </div>

    <div class="flex">
      <button mat-stroked-button class="!text-green-500 flex items-center mr-2" matTooltip="Entrada de produtos">
        <mat-icon>exit_to_app</mat-icon>
        Entrada</button>

      <button mat-stroked-button class="!text-red-500 flex items-center" matTooltip="Saída de produtos">
        <mat-icon>output</mat-icon>
        Saída</button>
    </div>
  </div>
</ng-template>
