<section class="px-8 py-4">
  @if(isLoading()) {
  <app-loading></app-loading>
  } @else {
  <ng-container *ngTemplateOutlet="mainTemplate"></ng-container>
  }
</section>

<ng-template #mainTemplate>
  <div class="mb-4 flex items-center justify-between">
    <div class="mr-2">
      <app-title [text]="title" [icon]="icon"></app-title>
    </div>
    <button mat-button routerLink="/in/locations/new" class="!text-primary flex items-center"
      matTooltip="Adicionar nova localização">
      <mat-icon>add</mat-icon>
      Adicionar</button>
  </div>
</ng-template>
