<section class="lg:p-4 p-2">
  @if(isLoading()) {
  <app-loading></app-loading>
  } @else {
  <ng-container *ngTemplateOutlet="mainTemplate"></ng-container>
  }
</section>

<ng-template #mainTemplate>
  <div class="mb-4 lg:flex items-center">
    <div class="mr-4 lg:mb-0 mb-4 flex items-center">
      <app-title text="Entrada" icon="exit_to_app"></app-title>
    </div>
  </div>

  <form [formGroup]="form">
    <!-- Informações do produtor -->
    <div class="pl-1 pb-4 border-b border-gray-300 mb-4">
      <div class="mb-1 flex items-center">
        <div class="mr-2">
          <app-label text="Informações do produtor"></app-label>
        </div>
        @if(selectedProducer()) {
        <div class="pt-2">
          <button mat-icon type="button" (click)="dialogProducer()">
            <mat-icon class="text-gray-500">sync_alt</mat-icon>
          </button>
        </div>
        }
      </div>
      @if (selectedProducer()) {
      <mat-card appearance="outlined" class="p-2">
        <div class="flex mr-2">
          <div class="mr-1 pb-1">
            <mat-icon class="text-gray-600 scale-75">person</mat-icon>
          </div>
          <div>
            <span class="text-sm font-medium">{{ producer.name }}</span>
          </div>
        </div>

        <div class="flex flex-wrap">
          <div class="mr-2">
            <span class="text-xs">CAD/PRO: {{ producer?.cad_pro }}</span>
          </div>

          <div class="mr-2">
            <span class="text-xs">GGN: {{ producer?.ggn }}</span>
          </div>
        </div>

        <div>
          <div class="mr-2">
            <span class="text-xs">Contanto: {{ producer?.phone }}</span>
          </div>
        </div>
      </mat-card>
      } @else {
      <div>
        <button mat-raised-button type="button" (click)="dialogProducer()">
          <mat-icon>add</mat-icon>
          Selecione o produtor
        </button>
      </div>
      }

    </div>

    <div class="pb-4 border-b border-gray-300 mb-4 lg:flex">
      <div class="mb-4">
        <div class="lg:w-[300px] w-full mr-4">
          <app-label text="Talhão"></app-label>
          <input type="text" id="field" formControlName="field"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
          @if (form.controls['field'].hasError('required') && showError()) {
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">Talhão é obrigatório</p>
          }
        </div>
      </div>

      <div>
        <div class="lg:w-[200px] w-full mr-2">
          <app-label text="Data da entrada"></app-label>
          <input type="datetime-local" id="field" formControlName="date"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
          @if (form.controls['date'].hasError('required') && showError()) {
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">Data da entrada é obrigatório</p>
          }
        </div>
      </div>
    </div>

    <div class="pb-4 border-b border-gray-30 mb-4">
      <div class="mb-2">
        <app-label text="Produtos"></app-label>
      </div>

      <div>
        <button mat-raised-button type="button" (click)="dialogProduct()">
          <mat-icon>add</mat-icon>
          Selecione o produto
        </button>
      </div>
    </div>

    <div>
      <div class="mb-4">
        <div class="lg:w-[300px] w-full mr-4">
          <app-label text="Observação"></app-label>
          <textarea id="amount" formControlName="observation"
            class="bg-gray-50 h-[200px] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block lg:w-[500px] w-full p-2.5"></textarea>
        </div>
      </div>
    </div>
  </form>

  <div class="flex lg:justify-start justify-center">
    <button mat-flat-button type="submit" class="!bg-green-600">
      @if (isLoading()) {
        <div>
          <app-loader [diameter]="30"></app-loader>
        </div>
        } @else {
        Salvar entrada
        }
    </button>
  </div>

</ng-template>
