
@import '../../../../styles.scss';

.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transform-origin: 50% 116.5%;
  animation: l17 1s infinite linear;
}
.loader:before {
  content:"";
  min-width: 233%;
  height: 233%;
  background:
    radial-gradient(farthest-side, $color-primary 90%,#0000) top,
    radial-gradient(farthest-side,$color-secondary 90%,#0000) left,
    radial-gradient(farthest-side,$color-third 90%,#0000) bottom,
    radial-gradient(farthest-side,#F4F328 90%,#0000) right;
  background-size: 43% 43%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-direction: reverse;
}
@keyframes l17 {
  100% {transform: rotate(360deg)}
}

.pulse_text {
  animation: pulse 1s infinite
}

@keyframes pulse {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 10%;
  }
}
