<div class="p-4">
  <div class="text-center mb-4">
    <span class="font-medium">Deseja realmente movimentar o volume?</span>
  </div>

  <div class="mb-4">
    <div>
      <span class="text-sm">Peso restante após movimentação: <strong>{{ data?.remaining }} kg</strong></span>
    </div>
    @if (data?.remaining <= 0) {
      <div>
        <span class="text-xs text-red-600">O volume atual será removido automaticamente</span>
      </div>
    }


    <div>
      <span class="text-sm">Novos volumes: <strong>{{ data?.new_volumes?.length }}</strong></span>
    </div>
  </div>

  <div class="flex justify-center">
    <button mat-flat-button class="mr-4" [mat-dialog-close]="true">
      Confirmar
    </button>

    <button mat-stroked-button mat-dialog-close="">
      Cancelar
    </button>
  </div>
</div>
