<div class="w-ful flex items-center justify-center p-4">
  <img [src]="imageService.backgroundpublic" alt="" class="fixed top-0 h-screen w-screen">
  <div class="w-full max-w-[500px] relative">

    <div class="flex justify-center mb-4">
      <img [src]="imageService.teste" alt="" class="max-w-[150px] rounded-full border-primary border-2">
    </div>

    <div class="flex justify-center mb-4">
      <div class="font-medium text-4xl">
        <div class="text-center flex items-center">
          <img [src]="imageService.music" alt="" class="max-w-[50px] fill-primary">
          <span class="text-primary">Pede Música</span>
        </div>
        <div>
          <span class="text-primary">no Nosso Quintal</span>
        </div>
      </div>
    </div>

    @if(screenStage() === 1) {
    <ng-container *ngTemplateOutlet="mainTemplate"></ng-container>
    }

    @if (screenStage() === 2) {
    <ng-container *ngTemplateOutlet="successTemplate"></ng-container>
    }
  </div>
</div>

<ng-template #mainTemplate>
  <div class="text-center mb-6">
    <span class="text-primary">Escolha a trilha da sua noite.</span><br>
    <span class="text-primary">A próxima pode ser a sua!</span>
  </div>

  <form [formGroup]="form">
    <div class="mb-4 px-4">
      <div>
        <div class="relative mb-6">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <mat-icon fontIcon="person" class="text-primary"></mat-icon>
          </div>
          <input type="text" id="input-group-1" matInput formControlName="name"
            class="text-gray-100 bg-secondary border border-[#671825] text-scondary placeholder-primary text-sm rounded-2xl block w-full ps-10 px-2.5 py-3 font-normal"
            placeholder="Nome (opcional)">
        </div>
      </div>

      <div>
        <div class="relative mb-6 text-white">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <mat-icon fontIcon="sports_bar" class="text-primary"></mat-icon>
          </div>
          <input type="text" id="input-group-1" matInput formControlName="table"
            class=" text-gray-100 bg-secondary border border-[#671825] placeholder-primary text-sm rounded-2xl block w-full ps-10 px-2.5 py-3"
            placeholder="Mesa (opcional)">
        </div>
      </div>

      <div>
        <div class="relative mb-6">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <mat-icon fontIcon="graphic_eq" class="text-primary"></mat-icon>
          </div>
          <input type="text" id="input-group-1" matInput formControlName="music"
            class="text-gray-100 bg-secondary border border-[#671825] text-scondary placeholder-primary text-sm rounded-2xl block w-full ps-10 px-2.5 py-3 font-normal"
            placeholder="Música que quer ouvir">
        </div>
      </div>
    </div>
  </form>

  <div class="flex justify-center mt-4">
    <button type="submit" [disabled]="isLoading()" (click)="sendRequest()"
      class="w-full max-w-[300px] flex items-center justify-center text-secondary bg-primary hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center">
      @if(isLoading()) {
      <app-loader></app-loader>
      }
      @else {
      <mat-icon fontIcon="volume_up" class="text-secondary mr-2"></mat-icon>
      PEDIR MÚSICA
      }
    </button>
  </div>
</ng-template>

<ng-template #successTemplate>
  <div class="text-center mb-6 pt-4">
    <span class="text-white">Sua música foi enviada com sucesso!</span><br>
  </div>
  <div class="flex justify-center mt-4">
    <button (click)="resetForm()"
      class="w-full max-w-[300px] flex items-center justify-center text-secondary bg-primary hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center">
      PEDIR OUTRA MÚSICA
    </button>
  </div>
</ng-template>
