<section class="flex h-screen w-full fade50 justify-center items-center bg-gray-100">
  <img [src]="imagesService.background_login" alt="" class="h-screen w-screen object-cover absolute">
  <div class="lg:min-w-[400px] lg:max-w-[400px] lg:h-[500px] h-screen w-full rounded-xl p-4 flex justify-center items-center shadow-2xl lg:bg-white bg-white/80 absolute">
    <div>
      <div class="flex justify-center mb-6">
        <img [src]="imagesService.logo" alt="" class="max-h-[60px]">
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
