<div class="p-4">
  <div class="flex justify-center mb-4">
    @switch (type()) {
    @case ('success') {
    <mat-icon class="scale-125 text-green-500">task_alt</mat-icon>
    }
    @case ('error') {
    <mat-icon class="scale-125 text-red-500">dangerous</mat-icon>
    }
    @case ('warning') {
    <mat-icon class="scale-125 text-orange-500">warning</mat-icon>
    }
    }
  </div>
  <div class="text-center mb-5">
    <p class="font-medium">{{ text() }}</p>
    <span class="text-sm">{{ submessage() }}</span>
  </div>
  <div class="flex justify-center">
    <button mat-flat-button class="!bg-green-500" mat-dialog-close="">Ok!</button>
  </div>
</div>
