<nav class="w-full">
  <div
    class="lg:h-[60px] h-[45px] bg-gray-50 w-full mat-elevation-z2 flex items-center justify-between sm:border-l-4 sm:border-r-0 border-r-8 border-primary">
    <div class="py-2 lg:px-4 px-1 flex items-center">
      <div class="mr-1 lg:hidden flex">
        <button mat-icon-button (click)="openSideBar()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div [routerLink]="navigationService.getPATH('track')" class="hover:bg-gray-100 hover:scale-105 rounded-md hover:cursor-pointer">
        <img [src]="imagesService.pedeMusicaLogo" alt="" class="h-[45px]">
      </div>
      <div class="bg-gray-400 h-[40px] w-[1px] mx-4 hidden lg:flex"></div>
      <div class="pt-2 hidden lg:flex items-center">
        <span class="text-gray-600 font-medium">{{ client_name() }}</span>
        <!-- <ng-component *ngTemplateOutlet="openStatusBadge"></ng-component> -->
      </div>
    </div>

    <div class="flex justify-end items-center px-2">
      <div class="lg:flex hidden">
        <button mat-button [matMenuTriggerFor]="menu" class="!text-black">
          <mat-icon>person</mat-icon>
          {{ user_name() }}
        </button>
      </div>
      <div class="lg:hidden flex">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="!text-black">
          <mat-icon>person</mat-icon>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <div class="text-center text-sm border-b border-gray-50 pb-1 lg:hidden flex justify-center">
          <span>{{ regex.getFirstNameAndLastNameInitial(user_name()) }}</span>
        </div>
        <button mat-menu-item (click)="doLogout()">
          <mat-icon class="!text-red-500">logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <!-- <div class="flex lg:hidden justify-center min-w-[100px] items-center p-1 bg-gray-50 shadow-md">
    <span class="text-gray-500 font-medium text-sm">{{ client_name() }}</span>
    <ng-component *ngTemplateOutlet="openStatusBadge"></ng-component>
  </div> -->
</nav>


<ng-template #openStatusBadge>
  <div class="px-2 border-[1px] border-gray-300 rounded-md lg:ml-4 ml-1 flex items-center justify-center">
    @if (storeService.isOpen()) {
      <span class="text-green-500 font-medium text-sm mr-2">Aberto</span>
      <app-dot-pulse></app-dot-pulse>
    }
    @else {
      <span class="text-red-500 font-medium text-sm">Fechado</span>
      <div class="w-2 h-2 bg-red-500 rounded-full mr-1"></div>
    }
  </div>
</ng-template>
