<section class="lg:p-4 p-2">
  @if(isLoading()) {
  <app-loading></app-loading>
  } @else {
  <ng-container *ngTemplateOutlet="mainTemplate"></ng-container>
  }
</section>

<ng-template #mainTemplate>
  <div class="mb-4 flex items-center justify-between">
    <div class="mr-4 lg:mb-0 mb-4 flex items-center">
      <app-title text="Iniciar saída" icon="local_shipping"></app-title>
    </div>

    <button mat-button routerLink="/in/track" class="!text-primary flex items-center"
      matTooltip="Voltar para rastreabilidade">
      <mat-icon>arrow_back</mat-icon>
      Voltar</button>
  </div>

  <div>
    <form [formGroup]="form" class="mb-4">

      <div class="mb-4">
        <mat-radio-group formControlName="exit_type">
          <mat-radio-button value="wholesale" class="mr-2" color="primary">Atacado</mat-radio-button>
          <mat-radio-button value="retail" color="primary">Varejo</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="mb-4">
        @if (selectedCustomer()) {
          <mat-card appearance="outlined" class="p-2">
            <div class="flex mr-2">
              <div class="mr-1 pb-1">
                <mat-icon class="text-gray-600 scale-75">person</mat-icon>
              </div>
              <div>
                <span class="text-sm font-medium">{{ customer.name }}</span>
              </div>
            </div>

            <div>
              <div class="mr-2">
                <span class="text-xs">Contato: {{ customer?.phone }}</span>
              </div>
              <div class="mr-2">
                <span class="text-xs">E-mail: {{ customer?.email }}</span>
              </div>
              <div class="mr-2">
                <span class="text-xs">Endereço: {{ customer?.address }}</span>
              </div>
            </div>
          </mat-card>
          } @else {
          <div class="mt-4">
            <button mat-raised-button type="button" (click)="dialogProducer()">
              <mat-icon>add</mat-icon>
              Selecionar o cliente
            </button>
          </div>
          }
      </div>

      <div class="lg:w-[200px] w-full mr-2 mb-4">
        <span class="text-sm font-medium">Previsão de saída</span>
        <input type="datetime-local" formControlName="date"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
        @if (form.controls['date'].hasError('required') && showError()) {
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">Data da saída é obrigatório</p>
        }
      </div>

      <div class="w-full">
        <div class="mb-4 w-full">
          <div class="lg:w-[300px] w-full mr-4">
            <span class="text-sm font-medium">Observações</span>
            <textarea id="amount" formControlName="observation"
              class="bg-gray-50 h-[200px] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block lg:w-[500px] w-full p-2.5"></textarea>
          </div>
        </div>
      </div>

    </form>

    <div class="flex lg:justify-start justify-center">
      <button mat-flat-button type="button" (click)="create()" class="!bg-green-600">
        Criar saída
      </button>
    </div>
  </div>
</ng-template>
