<section class="lg:p-8 p-2">

  <div class="mb-4 flex items-center justify-between">
    <div class="mr-2">
      <app-title [text]="title" [icon]="icon"></app-title>
    </div>
    <button mat-button routerLink="/in/users/new" class="!text-green-500 flex items-center"
      matTooltip="Adicionar novo usuário">
      <mat-icon>add</mat-icon>
      Adicionar</button>
  </div>

  <div class="mb-8 flex flex-wrap">
    <div class="lg:w-[150px] w-full lg:mr-4 mb-2">
      <label class="block text-sm font-medium text-gray-900">Ordem</label>
      <select id="order" (change)="filterOrder($event)" [value]="order"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        <option selected value="asc">A ➟ Z</option>
        <option value="desc">Z ➟ A</option>
      </select>
    </div>

    <div class="lg:w-[150px] w-full lg:mr-4 mb-2">
      <label class="block text-sm font-medium text-gray-900">Status</label>
      <select id="type" (change)="filterStatus($event)" [value]="type"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        <option value="">Todos</option>
        <option [value]="true">Ativo</option>
        <option [value]="false">Inativo</option>
      </select>
    </div>

    <div class="lg:w-[300px] w-full mb-4">
      <label class="block text-sm font-medium text-gray-900">Pesquisar</label>
      <input type="text" (keyup)="filter($event)" [(ngModel)]="search" [ngModelOptions]="{standalone: true}"
        class="rounded-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 w-full text-sm border-gray-300 p-2.5">
    </div>
  </div>

  @if(isLoading()) {
  <app-loading></app-loading>
  } @else {
  <ng-container *ngTemplateOutlet="mainTemplate"></ng-container>
  }
</section>

<ng-template #mainTemplate>

  @if (userList.length === 0) {
  <div class="p-2">
    <app-zero-length text="Nenhum usuário encontrado"></app-zero-length>
  </div>
  }

  @else {
    <div class="mb-4 text-gray-500 text-end">
      <span class="text-sm">{{ userList.length + ' ' + (userList.length > 1 ? 'usuários encontrados' : 'usuário
        encontrado')}}</span>
    </div>
  <div class="mb-2 w-full overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-800">
      <thead class="text-xs text-gray-700 bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-medium">Status</th>
          <th scope="col" class="px-6 py-3 text-medium">Nome</th>
          <th scope="col" class="px-6 py-3 text-medium">E-mail (usuário)</th>
          <th scope="col" class="px-6 py-3 text-medium">Contato</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        @for (item of userList; track $index) {
        <tr scope="row" class="border-b border-gray-200 even:bg-gray-50">
          <td class="px-6 py-2">
            @switch (item.is_active) {
            @case (true) {
            <app-badge-status type="active"></app-badge-status>
            }
            @case (false) {
            <app-badge-status type="inactive"></app-badge-status>
            }
            }
          </td>

          <td class="px-6 py-2 min-w-[200px]">
            <div class="flex items-center gap-2">
              <span>{{ item.name }}</span>
            @if(item.client_admin) {
              <div class="text-white bg-blue-700 px-2 rounded-full text-xs">
                <span>ADM</span>
              </div>
            }
            </div>
          </td>

          <td class="px-6 py-2 min-w-[200px]">
            <span>{{ item.email }}</span>
          </td>

          <td class="px-6 py-2 min-w-[200px]">
            <div class="flex items-center">
              {{ regex.formatPhoneNumber(item.phone)}}
              <button mat-icon-button matTooltip="Copiar" [cdkCopyToClipboard]="item.phone">
                <mat-icon class="text-gray-500">content_copy</mat-icon>
              </button>
            </div>
          </td>

          <td>
            <button mat-icon-button matTooltip="Editar" [routerLink]="'/in/users/' + item.id">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <mat-paginator (page)="pageEvent($event)" [length]="userTotal" [pageSize]="page_size"
    [pageSizeOptions]="[5, 10, 25, 100]" [pageIndex]="page_index"></mat-paginator>
  }
</ng-template>
