<section class="lg:p-4 p-2">
  @if(isLoading()) {
  <app-loading></app-loading>
  } @else {
  <ng-container *ngTemplateOutlet="mainTemplate"></ng-container>
  }
</section>

<ng-template #mainTemplate>
  <div class="mb-4 flex items-center justify-between">
    <div class="mr-4 lg:mb-0 mb-4 flex items-center">
      <app-title text="Saídas em andamento ({{ exitList.length }})" icon="local_shipping"></app-title>
    </div>

    <button mat-button routerLink="/in/track" class="!text-primary flex items-center"
      matTooltip="Voltar para rastreabilidade">
      <mat-icon>arrow_back</mat-icon>
      Voltar</button>
  </div>

  <div class="mb-4">
    @if (exitList.length > 0) {
      @for (item of exitList; track $index) {
        <mat-card appearance="outlined" class="p-3">
          <div class="flex justify-between items-center">
            <div>
              <span class="text-red-500 text-lg font-medium mr-2">S{{ item.id }}</span>
              <span class="text-lg">{{ item?.Person?.name }}</span>
            </div>

            <div>
              <button mat-icon-button [routerLink]="'/in/track/exit/detail/' + item.id" matTooltip="Detalhar registro">
                <mat-icon class="text-gray-500">open_in_new</mat-icon>
              </button>
            </div>
          </div>

          <div class="text-sm">
            <span class="font-medium">Tipo de saída: </span>
            @switch (item?.exit_type) {
              @case ('wholesale') {
                <span>Atacado</span>
              }
              @case ('retail') {
                <span>Varejo</span>
              }
            }
          </div>

          <div class="text-sm">
            <span class="font-medium">Responsável: </span>
            <span>{{ item?.User?.Person?.name }}</span>
          </div>

          <div class="text-sm">
            <span class="font-medium">Previsão de saída: </span>
            <span>{{ dateTime.convertToBRTime(item.exit_at) }}</span>
          </div>

          <div class="text-sm">
            <span class="font-medium">Observação: </span>
            <span>{{ item.observation }}</span>
          </div>

          <div class="text-end">
            <span class="text-sm text-gray-400">{{ dateTime.convertToBRTime(item.created_at) }}</span>
          </div>
        </mat-card>
      }
    }
    @else {
      <div class="flex justify-center items-center min-h-[200px]">
        <app-zero-length text="Sem saídas em andamento no momento"></app-zero-length>
      </div>
    }
  </div>

  <div class="flex justify-center">
    <button mat-flat-button type="button" routerLink="/in/track/exit/init" class="!bg-green-600">
      Criar nova saída
    </button>
  </div>
</ng-template>
