<section class="lg:p-4 p-2">
  @if(isLoading()) {
  <app-loading></app-loading>
  } @else {
  <ng-container *ngTemplateOutlet="mainTemplate"></ng-container>
  }
</section>

<ng-template #mainTemplate>
  <div class="mb-4 flex items-center justify-between">
    <div class="mr-4 lg:mb-0 mb-4 flex items-center">
      <app-title text="Saídas em andamento" icon="local_shipping"></app-title>
    </div>

    <button mat-button routerLink="/in/track" class="!text-primary flex items-center"
      matTooltip="Voltar para rastreabilidade">
      <mat-icon>arrow_back</mat-icon>
      Voltar</button>
  </div>
</ng-template>
