<nav>
  <div
    class="lg:h-[60px] h-[45px] bg-gray-100 w-full mat-elevation-z2 flex items-center justify-between border-r-8 border-primary">
    <div class="py-2 lg:px-4 px-2 flex items-center">
      <div class="mr-1 lg:hidden flex">
        <button mat-icon-button (click)="openSideBar()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div [routerLink]="navigationService.getPATH('track')" class="hover:bg-gray-200 rounded-md p-2 hover:cursor-pointer">
        <img [src]="imagesService.logo" alt="" class="h-[30px]">
      </div>
    </div>

    <div class="flex justify-end items-center px-4">
      <div class="lg:flex hidden">
        <button mat-button [matMenuTriggerFor]="menu" class="!text-black">
          <mat-icon>person</mat-icon>
          {{ user_name() }}
        </button>
      </div>
      <div class="lg:hidden flex">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="!text-black">
          <mat-icon>person</mat-icon>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="doLogout()">
          <mat-icon class="!text-red-500">logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>

</nav>
