<section class="pt-4">
  @switch (step()) {
    @case (1) {
      <ng-container *ngTemplateOutlet="mainTemplate"></ng-container>
    }
    @case (2) {
      <ng-container *ngTemplateOutlet="successTemplate"></ng-container>
    }
  }
</section>

<ng-template #mainTemplate>
  <form [formGroup]="form" (ngSubmit)="send()" class="p-4">

    <div class="text-center mb-4">
      <span>Recuperação de senha</span>
    </div>

    <mat-form-field class="w-full mb-3">
      <mat-label>Email</mat-label>
      <input id="user" type="email" matInput formControlName="email" floatLabel="always" placeholder="" required>
      @if (this.form.controls['email'].invalid) {
      <mat-error>Por favor, digite um e-mail válido</mat-error>
      }
    </mat-form-field>


    <div class="flex justify-center px-4 mb-4 min-w-[300px]">
      <button mat-flat-button type="submit" class="w-full !bg-secondary">
        @if (isLoading()) {
        <div>
          <app-loader [diameter]="30"></app-loader>
        </div>
        } @else {
        Enviar
        }
      </button>
    </div>

    @if(!isLoading()) {
    <div type="button" routerLink="/auth/login" class="text-center">
      <span class="text-xs text-gray-500 hover:underline hover:cursor-pointer">Voltar no login</span>
    </div>
    }
  </form>
</ng-template>

<ng-template #successTemplate>
  <div class="flex justify-center p-4 mb-4">
    <mat-icon class="text-green-500 scale-[200%]" fontIcon="check_circle" ></mat-icon>
  </div>
  <div class="text-center text-gray-700 p-2">
    <span>Um e-mail de recuperação de senha foi enviado para {{ email() }}.</span>
  </div>
</ng-template>
