<section class="lg:p-4 p-2">
  @if(isLoading()) {
  <app-loading></app-loading>
  } @else {
  <ng-container *ngTemplateOutlet="mainTemplate"></ng-container>
  }
</section>

<ng-template #mainTemplate>
  <div class="mb-2 flex items-center justify-between">
    <div class="mr-4 lg:mb-0 mb-4 flex items-center">
      <app-title [text]="'S' + exitData.id" icon="local_shipping"></app-title>
    </div>

    <button mat-button routerLink="/in/track" class="!text-primary flex items-center"
      matTooltip="Voltar para rastreabilidade">
      <mat-icon>arrow_back</mat-icon>
      Voltar</button>
  </div>

  <div class="mb-4">
    <mat-card appearance="outlined" class="p-3">

      <div class="text-sm">
        <span class="font-medium">Cliente: </span>
        <span>{{ exitData?.Person?.name }}</span>
      </div>

      <div class="text-sm">
        <span class="font-medium">Tipo de saída: </span>
        @switch (exitData?.exit_type) {
          @case ('wholesale') {
            <span>Atacado</span>
          }
          @case ('retail') {
            <span>Varejo</span>
          }
        }
      </div>

      <div class="text-sm">
        <span class="font-medium">Responsável: </span>
        <span>{{ exitData?.User?.Person?.name }}</span>
      </div>

      <div class="text-sm">
        <span class="font-medium">Previsão de saída: </span>
        <span>{{ dateTime.convertToBRTime(exitData.exit_at) }}</span>
      </div>

      <div class="text-sm">
        <span class="font-medium">Observação: </span>
        <span>{{ exitData.observation }}</span>
      </div>

      <div class="text-end">
        <span class="text-sm text-gray-400">{{ dateTime.convertToBRTime(exitData.created_at) }}</span>
      </div>
    </mat-card>
  </div>

  <div>
    <div class="text-sm">
      <span class="font-medium">Volumes de saída ({{ exitData?.VolumeExit?.length }})</span>
    </div>
    <div class="mb-6">
      @for (volume of exitData.Volume; track $index) {
        <app-volume-card-2 [volume]="volume" type="exit"></app-volume-card-2>
      }
    </div>

    <div class="mb-4">
      <div class="lg:w-[300px] w-full mr-4">
        <span class="text-sm font-medium">Notal fiscal</span>
        <input type="text" [(ngModel)]="invoice" [ngModelOptions]="{standalone: true}"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
      </div>
    </div>

    <div class=" flex items-center">
      <div class="mr-2">
        <div class="lg:w-[200px] w-full mr-2">
          <span class="text-sm font-medium">Data de saída</span>
          <input type="datetime-local" [(ngModel)]="date" [ngModelOptions]="{standalone: true}"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
        </div>
      </div>
      <div class="pt-5">
        <div class="flex justify-center">
          <button mat-flat-button type="button" (click)="confirm()" class="!bg-green-600">
            Finalizar saída
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
