@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100vh;}
body { margin: 0 }

//COLORS
$color-primary: theme('colors.primary');
$color-secondary: theme('colors.secondary');
$color-third: theme('colors.third');

.fade25 {
  animation: fadeIn 0.25s;
  opacity: 1
}

.fade50 {
  animation: fadeIn 0.5s;
  opacity: 1
}

.fade75 {
  animation: fadeIn 0.75s;
  opacity: 1
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

